.start-recipe {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.835);
  border: none;
  bottom: 0;
  box-shadow: 0 0 10px black;
  color: white;
  display: flex;
  font-weight: 900;
  justify-content: center;
  padding: 0.5em 0;
  position: fixed;
  width: 100%;
}
